<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/yoga-class.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{class.name}}</h5>
    <p class="card-text"> </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{trainer.first_name}}</li>
  </ul>
</div>