
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.82.0">
    <title>MyGym</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="public/css/styles.css" rel="stylesheet">
  </head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
            <img src="https://img.icons8.com/ios-filled/50/ffffff/strength.png"alt="" width="80" height="80" class="navbar-brand" href="#">
            <a class="navbar-brand" href="#">MyGym</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="col d-flex justify-content-end">
            <div class="top-buttons">
                <button type="button" onclick="location.href='/logout'" id="login-button" class="btn">Logout</button>
                <a href="/">Home</a>
            </div>
            </div>
            </div>
        </nav>
    </header>
<!--View member info (name, email) & links to edit user info page-->    
   
    <article class="post">
      <div class = "content">
        <p>Your Name: {{user.first_name}} {{user.last_name}}</p>
        <p>Your Email: {{user.email}}</p>
        <a href="/views/partials/edit-member.handlebars">Edit My Info</a>
      </div>
    </article>