<!--View member info (name, email) & links to edit user info page-->    
   
    <article class="post">
      <div class = "content">
        <p>Your Name: {{member.first_name}} {{member.last_name}}</p>
        <p>Your Email: {{member.email}}</p>
        <a href="/views/partials/edit-member.handlebars">Edit My Info</a>
      </div>
    </article>