<header class="row navbar navbar-light bg-light border">
  <div class="col">
    <div id="title" class="text-align-middle">
      <img class="logo img-fluid" src="/public/assets/mygymlogo.png" alt="">
    </div>
  </div>
  <div class="col d-flex justify-content-end">
    <div class="top-buttons">
      <button type="button" onclick="location.href='/member-login'" id="login-button" class="btn">Login</button>
      <button type="button" onclick="location.href='/signup'" id="signup-button" class="btn bg-info">Sign Up</button>
    </div>
</header>


<div class="row jumbotron">
      <h2 class="col-sm-8 text-info">MyGym</h2>
      <h3 class="col-sm-8">Your one-stop-shop for gym memberships online.</h3>
      <img class="col-sm-4" src="/public/assets/homepage.jpg">
</div>