<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyGym</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body class="fluid-container"> 
    <header class="row navbar navbar-light bg-light border">
    <div class="col">
        <div id="title" class="text-align-middle">
        <img class="logo img-fluid" src="/public/assets/mygymlogo.png" alt="">
        </div>
    </div>
    <div class="col d-flex justify-content-end">
        <div class="top-buttons">
        <button type="button" onclick="location.href='/'" id="blue-button" class="btn bg-info">Home</button>
        </div>
    </header>
    <div class="row justify-content-center">



</body>



</html>