
 <!--add profile, classes, and tiers via handlebars-->
  
  <section class="row">
      <h2>About Me</h2>
      {{> member-info}}
  </section>


    {{#if posts.length}}
  <section>
    <h2>Your Blog Posts</h2>
    <ol>
      {{#each posts as |post|}}
      <li>
        {{> post-info post}}
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit blog post</a>
      </li>
      {{/each}}
    </ol>
  </section>
  {{/if}}



<script src="/javascript/add-post.js"></script>