<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.82.0">
  <title>MyGym</title>

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <img src="https://img.icons8.com/ios-filled/50/ffffff/strength.png" alt="" width="80" height="80"
          class="navbar-brand" href="#">
        <a class="navbar-brand" href="#">MyGym</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="col d-flex justify-content-end">
            <div class="top-buttons">
              <button type="button" onclick="location.href='/'" id="login-button" class="btn bg-info">Home</button>
              <button type="button" onclick="location.href='/member-login'" id="signup-button"
                class="btn">Login</button>
            </div>
          </div>
        </div>
    </nav>
  </header>

  <!--
  <main>
    <div class="col-12">
      <img src="">
    </div>
    -->


  <!-- Carousel for header

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/carousel.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Fitness Done Your Way</h1>
          <h5>Manage your profile, classes, membership, and trainers online.</h5>

          <div id="form signup-area" class="col-6 align-self-center mt-5 p-3">

            <div class="form-group">
              <label for="firstname">First Name</label>
              <input name="firstname" id="firstname" type="text" class="form-control" />

            </div>

          </div>
          <div class="carousel-item">
            <img src="assets/trainer.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>World Class Trainers</h1>
              <h5>Our certified personal trainers are fun, motivating, and empatheic.</h5>
            </div>
          </div>

          <div class="carousel-item">
            <img src="assets/fitness-class.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>Classes Made for You</h1>
              <h5>We have a wide variety of classes offered to accomodate your schedule and needs.</h5>
            </div>

          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  -->


  <!-- Start of form -->

  <div id="form signup-area" class="col-6 align-self-center mt-5 p-3">
    <form action="/signup" method="POST" class="form signup-area">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input name="firstname" id="firstname" type="text" class="form-control" />
      </div>

      <div class="form-group">
        <label for="lastname"> Last Name</label>
        <input name="lastname" id="lastname" type="text" class="form-control" />
      </div>

      <div class="form-group">
        <label for="email">Email address</label>
        <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" />
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <!-- 
          <div class="form-group">
            <label for="tier-signup">Please pick a membership tier:</label>
                <select id="tier-signup" name="tier-signup">
                <option value="silver">Silver ($25/month, 5 Classes per Month)</option>
                <option value="gold">Gold ($50/month, 10 Classes per Month)</option>
                <option value="platinum">Platinum ($100/month, Unlimited Access)</option>
                </select>
        </div>
        -->

      <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-8 pt-0">Select your preferred membership tier:</legend>
        <div class="col-sm-10 offset-sm-2" id="tier" name="tier">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="tier" id="tier" value="1">
            <label class="form-check-label" for="tier" for="tier">
              Silver ($25/month, 5 Classes per Month)
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="tier" id="tier" value="2">
            <label class="form-check-label" for="tier" for="tier">
              Gold ($50/month, 10 Classes per Month)
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="tier" id="tier" value="3">
            <label class="form-check-label" for="tier" for="tier">
              Platinum ($100/month, Unlimited Access) <strong>** Recommended **</strong>
            </label>
          </div>
        </div>
      </fieldset>

      <!--    
        <div class="form-group">
          <label for="class-signup">Please pick your classes</label>
          <select id="class-signup" name="class-signup" size="6" multiple>
            <option value="yoga">Yoga (Tuesday and Thursday at 5pm)</option>
            <option value="spin">Spin (Monday, Wednesday, and Friday at 7am)</option>
            <option value="zumba">Zumba (Monday and Wednesday at 7pm)</option>
            <option value="kickboxing">Kickboxing (Saturday and Sunday at 8am)</option>
            <option value="abs">Abs (Everyday at 6am)</option>
            <option value="lifting">Lifting (Everyday at 12pm)</option>
          </select>
        </div>
        -->


      <div class="form-group">
        <label for="class-signup">Select your preferred classes:</label>
        <div class="row mb-3" id="class-signup" name="class-signup">
          <div class="col-sm-10 offset-sm-2 ">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck1">
              <label class="form-check-label" for="gridCheck1">
                Yoga (Tuesday and Thursday at 5pm)
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck1">
              <label class="form-check-label" for="gridCheck1">
                Spin (Monday, Wednesday, and Friday at 7am)
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck1">
              <label class="form-check-label" for="gridCheck1">
                Zumba (Monday and Wednesday at 7pm)
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck1">
              <label class="form-check-label" for="gridCheck1">
                Kickboxing (Saturday and Sunday at 8am)
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck1">
              <label class="form-check-label" for="gridCheck1">
                Abs (Everyday at 6am)
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck1">
              <label class="form-check-label" for="gridCheck1">
                Lifting (Everyday at 12pm)
              </label>
            </div>
          </div>
        </div>
      </div>


      <div id="password-div" class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" id="password" />
      </div>
      <button id="sign-in" type="submit" class="btn">Sign Me Up!</button>
    </form>
  </div>
</body>


<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>&copy; MyGym &middot; <a href="https://github.com/eroux13/gym_management_database" target="_blank">GitHub</a>
    &middot; <a>Created by: Maria Lara, Arthur Leung, Billy Montooth-Keating and EJ Roux</a></p>
</footer>

</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="js/signup.js"></script>

</html>